{% extends "base.html" %}
{% block title %}World of Monitoring{% endblock %}
{% block content %}
<script type="text/javascript">
  function createMetrics() {
    document.getElementById("metricResult").style.display = "block";
    document.getElementById("metricmessage").innerHTML = "Running....";
    var xhttp;
    var metriccount = document.forms['metric'].elements['metriccount'].value;
    var csrfmiddlewaretoken = document.forms['metric'].elements['csrfmiddlewaretoken'].value;
    xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function () {
      if (xhttp.readyState == XMLHttpRequest.DONE) {
        var response = JSON.parse(xhttp.responseText);
        document.getElementById("metricResult").style.display = "block";
        document.getElementById("metricmessage").innerHTML = "Result: " + response.status;
      }
    };
    xhttp.open('POST', "/createMetrics");
    xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
    var postVars = 'metriccount=' + metriccount + '&csrfmiddlewaretoken=' + csrfmiddlewaretoken;
    xhttp.send(postVars);
    return false;
  }
</script>

<h1 class="title">
  Generate Metrics
</h1>
<div class="container">
<h2 class="subtitle">Create Prometheus metrics</h2>
<p>
  <form action="" name="metric">
      {% csrf_token %}
    <div class="field">
      <label class="label">Number of times to generate metrics (5 seconds delay between each loop)</label>
      <div class="control">
        <div class="select">
          <select name="metriccount">
            <option value="5" selected="selected">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="20">20</option>
            <option value="25">25</option>
          </select>
        </div>
      </div>
    </div>

    <div class="field">
      <div class="control">
        <input type="submit" class="button  is-link" type="submit" onclick="return createMetrics()" value="Create Metrics">
      </div>
    </div>
  </form>
</p>

<div id = "metricResult" style="display:none;">
    <hr>
    <pre id="metricmessage"></pre>
  </div>

</div>
{% endblock %}